html, body {
  margin: 0;
  padding: 0;
}

#game {
  margin: 150px auto;
  position: relative;
  border: 1px dashed #222;
}

.score {
  position: absolute;
  top: -150px;
  left: 0;
  border: 1px dashed #222;
}

.snakeBody {
  display: inline-block;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
}

.snakeHead {
  display: inline-block;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
}

.food {
  display: inline-block;
  background-color: lightseagreen;
  position: absolute;
}